body{
background-color:aqua 
}

#um{
    text-align: center;
    text-shadow: 10px;
    font-size: 22px;
    color:#ff69b4;
    font-family :'frankin gothic medium' 'arial narrow', arial, sans-serif
}
h1{
    font-size:60px;
    color:#FFC0CB;
}